@charset "ISO-8859-1";
html {
    min-height: 100%;
    position: relative;
}

body {
    margin: 0;
}

footer {
    background-color: #343a40;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
}

.divBotonBuscar {
    text-align: center;
    height: 82%;
    width: 100%;
    display: inline-flex;
    align-items: flex-end;
    justify-content: right;
}

.botonBuscar {
    margin: 0 5px 0 5px;
}


table {
    flex-flow: column;
    width: 100%;
    font-size: small;
}

thead {
    flex: 0 0 auto;
}

tbody {
    flex: 1 1 auto;
    display: block;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: hidden;
    height: 300px;
}



tr {
    width: 100%;
    display: table;
    table-layout: fixed;
}

.container{
    max-width: 95% !important;
}

.divLogOut{
    display: flex; 
    float: right; 
    text-align: right ;
}

.header-user{
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: smaller !important;
}

.logOutData{
    padding-left:30px;
    padding-right:30px;
}
